snippet docker-compose-draft "docker-compose-draft"
version: "2"

services:

  web:
    image: $1
    container_name: $2
    restart: unless-stopped
    ports:
      - "8000:8000"
    depends_on:
      - db
    links:
      - db
    environment:
      - FOO=bar

  db:
    image: $3
    container_name: $4
    restart: unless-stopped
    volumes:
      - /data/mongodb/proctest/db:/data/db
endsnippet  
