snippet react_class "class component extends React.Component"
class ${1:component} extends React.Component {
  constructor() {
    super()
    didmount(this)
  }
  state = {
  }
  render() {
    return (
      <div>
	${0}
      </div>
    )
  }
}
endsnippet
